{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}Reset your password{% endblock %}

{% block content %}
    <h4>Forgot Your Password?</h4>
    {% if validlink %}
        <p>Please enter your new password twice.</p>
        <form method="POST">
            {% csrf_token %}
            {{form | crispy }}
            <button type="submit" class="btn btn-primary">Reset password</button>
        </form>
    {% else %}
        <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
    {% endif %}
{% endblock %}